<footer style="margin-top:50px;">
  <div id="footer">
      <nav class="breadcrumb"> <a class="breadcrumb-item" href="/">Home</a> <a class="breadcrumb-item" href="#">Login</a> <a class="breadcrumb-item" href="#">SignUp</a> </nav>
  </div>   
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
