<% include ./partials/header %>

    <div>
      <h1 style="margin-top:2em;">Welcome to the dessert page!</h1>
        <% desserts.forEach(function(dessert){ %>
      <img src="<%= dessert.image %>">
      <p> <%= dessert.name %> </p>
        <% }); %>
    </div>

<% include ./partials/footer %>
