<% include ./partials/header %>
	<div class="bg">
        <div class="container containerHome">
        	<div class="row containerHomeRow">
        		<div class="col-md-10 col-md-offset-1 containerHomeCol">
        			<p>Sweet Has Arrived</p>
        			<br>
	    			<a href="/desserts" class="btn btn-info btn-lg">View All Desserts</a>
        		</div>
        	</div>
        </div>
    </div>
<% include ./partials/footer %>