<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div>
                    <h2 id="createNewDessertLabel">Create a New Dessert</h2>
                    <hr>
                    <form action="/desserts" method="POST">
                        <input class="form-control" type="text" name="newDessertName" placeholder="Name">
                        <br/>
                        <input class="form-control" type="text" name="newDessertImage" placeholder="Image url">
                        <br/>
                        <input class="form-control" type="text" name="newDessertDescription" placeholder="Description">
                        <br/>
                        <button type="submit" class="btn btn-primary form-control">Submit!</button>
                    </form>
                    <br /> <a href="/desserts"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a></div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>